*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
list-style: none;
text-decoration: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.headerbg{
    background-color: #000000;
}
.li_list{
    color: #FFFFFF;
width: 60px;
height: 22px;
font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;


}
.big{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Marketpl{
    margin-top: 25px;
}
.ul_list{
    display: flex;
    gap: 40px;
    margin-top: 25px;

}
.input input{
    width: 300px;
height: 50px;
background-color: #FFFFFF;
font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;

}

.input{
    position: relative;
   
    align-items: center;
}
.input img{
    top: 0;
    width: 14px;
    height: 14px;
    top: 20px;
margin-right: 10px;
    border-width: 1px;
    
    right: 0;
    position: absolute;
}
h2{
    font-family: Inter;
font-weight: 700;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
width: 277px;
height: 96px;
margin-top: 30px;
left: 45px;

}
.smool button{
    width: 109px;
    height: 55px;
   background-color: #76B900;
   
}
.smool button:hover{
    background-color: blue;
    color: aliceblue;
    transition: 0.7s;
}
.tochka{
    width: 40px;
height: 10px;
top: 355px;
left: 665px;

margin-left: 700px;
}
h1{
    width: 630px;
height: 60px;
font-family: Inter;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
justify-content: center;
margin-left: 425px;
margin-top: 12px;
}
.boxla{
    justify-content: center;
    display: flex;
    gap: 40px;
    margin-top: 40px;



}
.card{
    background-color: #FFFFFF;
    box-shadow: 0px 17px 27px -4px #00000040;
    width: 290px;
    height: 280px;
    top: 498px;
    
}
.card:hover{
    background-color: #76B900;
    transition: 0.10s;
}
.card img{
    width: 290px;
height: 163.36666870117188px;
top: 498px;

}
.card h4{
    width: 180px;
height: 45px;
font-family: Inter;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
margin-left: 56px;
margin-top: 10px;
}
.card p{
    width: 100px;
height: 20px;
font-family: Inter;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
margin-left: 95px;
margin-top: 25px;
}
.Graphics{
    width: 1155px;
height: 60px;
font-family: Inter;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
justify-content: center;
margin-top: 40px;
margin-left: 140px;
}

.h1{
    width: 1155px;
height: 60px;
font-family: Inter;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
margin-left: 145px;
margin-top: 40px;

}
.h3{
    width: 275px;
height: 60px;
font-family: Inter;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
margin-left: 585px;
margin-top: 40px;
}




.smol{
    
    
}



section img{
    width: 704px;
    height: 300px;
display: flex;

}
.kozim{
    display: flex;
    gap: 40px;
}
section h3{
    width: 415px;
height: 115px;
font-family: Inter;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;

color: #67B900;
}
section p{
    width: 400px;
height: 65px;
margin-top: 28px;
font-family: Inter;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #000;
}

section  button{
   
background-color: #76B900;
    color: #000000;
    margin-top: 40px;
    width: 200px;
    height: 50px;

 
}

.AYE{
    display: flex;
    justify-content: space-between;
margin-top: 100px;
margin-bottom: 70px;

}
